### Import libraries:

In [1]:
import pandas as pd
import numpy as np

### Loading data:

In [2]:
final_df = pd.read_csv('../data/logistic_regression_pred.csv')
rf = pd.read_csv('../data//rf_classifier_pred.csv')
linear = pd.read_csv('../data/linear_regression_pred.csv')
knn = pd.read_csv('../data/knn_regressor_pred.csv')

### Adding all predictions to a single dataframe:

In [3]:
final_df['midterm_results_pred_rf'] = rf['midterm_results_pred_rf']
final_df['average_grade_pred_linear'] = linear['average_grade_pred_linear']
final_df['average_grade_pred_knn'] = knn['average_grade_pred_knn']

final_df.head()

,gender,ethnicity,parental_education,lunch,test_preparation_course,pass/fail_math,math_score,pass/fail_reading,reading_score,pass/fail_writing,writing_score,failed_courses,midterm_results,average_grade,midterm_results_pred_logistic,midterm_results_pred_rf,average_grade_pred_linear,average_grade_pred_knn
0,M,A,high school,standard,yes,passed,67,passed,67,passed,63,good standing,good standing,65.67,good standing,good standing,82.312500,81.665000
1,F,D,no high school,reduced,no,failed,40,failed,59,failed,55,math/reading,summer school,51.33,good standing,good standing,76.515625,73.500000
2,M,E,high school,reduced,no,failed,59,passed,60,failed,50,math/writing,summer school,56.33,good standing,good standing,46.531250,45.223333
3,M,B,high school,standard,no,passed,77,passed,78,passed,68,good standing,good standing,74.33,good standing,good standing,78.468750,78.667500
4,M,E,associate,standard,yes,passed,78,passed,73,passed,68,good standing,good standing,73.00,summer school,summer school,76.500000,65.670000

### Rearranging the columns:

In [4]:
new_columns = ['gender', 'ethnicity', 'parental_education', 'lunch',
       'test_preparation_course', 'pass/fail_math','math_score', 'pass/fail_reading',
        'reading_score', 'pass/fail_writing', 'writing_score', 'failed_courses', 
               'midterm_results', 'midterm_results_pred_logistic', 'midterm_results_pred_rf', 
               'average_grade', 'average_grade_pred_linear', 'average_grade_pred_knn']

final_df = round(final_df.reindex(columns=new_columns),4)

final_df.to_csv('data_with_predictions.csv', index_label = False)

final_df.head()

,gender,ethnicity,parental_education,lunch,test_preparation_course,pass/fail_math,math_score,pass/fail_reading,reading_score,pass/fail_writing,writing_score,failed_courses,midterm_results,midterm_results_pred_logistic,midterm_results_pred_rf,average_grade,average_grade_pred_linear,average_grade_pred_knn
0,M,A,high school,standard,yes,passed,67,passed,67,passed,63,good standing,good standing,good standing,good standing,65.67,82.3125,81.6650
1,F,D,no high school,reduced,no,failed,40,failed,59,failed,55,math/reading,summer school,good standing,good standing,51.33,76.5156,73.5000
2,M,E,high school,reduced,no,failed,59,passed,60,failed,50,math/writing,summer school,good standing,good standing,56.33,46.5312,45.2233
3,M,B,high school,standard,no,passed,77,passed,78,passed,68,good standing,good standing,good standing,good standing,74.33,78.4688,78.6675
4,M,E,associate,standard,yes,passed,78,passed,73,passed,68,good standing,good standing,summer school,summer school,73.00,76.5000,65.6700